@import "tailwindcss";

.gradient-background {
  background: linear-gradient(to left, rgb(137, 11, 11), rgb(0, 0, 36));
}

.gradient-form{
  /* background: linear-gradient(rgb(1, 1, 1), rgb(197, 197, 197));
   */
   background-color: rgba(46, 46, 46, 0.82);
}
.gradient-background:hover {
  background: linear-gradient(to right, red, rgb(2, 2, 72)); 
}


/* @tailwind base;
@tailwind components;
@tailwind utilities; */